.form{

}

.options{
  overflow: hidden;
  margin: 10px 0px 10px 0px;
  border-bottom: #aaaaaa solid 3px;
  display: inline-block;
}

.option{
  float: left;
  padding: 0px 10px 0px 10px;
}

.display{
  overflow-y: scroll;
  height: 500px;
  border: #000000 solid 1px;
}

.configDisplay{
  height: 100px;
}
